---
layout: blank
title: "Home"
---
{% unless site.show_excerpts %}
{% include archive.html %}
{% else %}
{% for page in paginator.posts %}
<article>
  <header>
    <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
  </header>
{{ page.excerpt }}
  {% unless page.excerpt == page.content %}
  <footer><a class="ghost" href="{{ page.url | relative_url }}">{{ site.more }}</a></footer>
  {% endunless %}
</article>
{% endfor %}
{% endunless %}
